<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="DBConnection" 
         connectionString="Server=(local);Database=hanviet;User Id=sa;password=123456" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    
    <add key="Sys.SiteID" value="ndhieu8x"/>
    <add key="Sys.MultiSite" value="0"/>
    <add key="Sys.PageExt" value=".aspx"/>
    <add key="Sys.CompressionHtml" value="0"/>
    <add key="Sys.CPDir" value="AdminCP"/>
    <add key="Sys.Debug" value="1"/>
    <add key="Sys.SQL2005" value="0"/>
    <add key="Sys.TimeOutCache" value="120"/>
    <add key="Sys.CryptoStringKey" value="12954942312343338412351618912345"/>
    <add key="Sys.CryptoStringIV" value="1294843121318527"/>

    <add key="Mod.NewsState" value="Tiêu điểm|1"/>

    <add key="Mod.WebServiceKey" value="UH99-KJ89-GT00-09HG-33DD"/>
    <add key="Mod.Visit" value="1"/>
    <add key="Mod.Online" value="1"/>
    <add key="Mod.CPTimeout" value="120"/>
    <add key="Mod.LangUnABC" value="0"/>

    <add key="Mod.SmtpServer" value="smtp.gmail.com"/>
    <add key="Mod.SmtpPort" value="25"/>
    <add key="Mod.SmtpSSL" value="1"/>
    <add key="Mod.SmtpUser" value="xxxxxxx@gmail.com"/>
    <add key="Mod.SmtpPass" value="xxxxxxx"/>
    
  </appSettings>
  
  <system.web>
    
    <httpRuntime requestValidationMode="2.0" 
                 maxRequestLength="1550000"/>
    
    <pages validateRequest="false" 
           enableViewStateMac="false" 
           enableViewState="false" 
           controlRenderingCompatibilityVersion="3.5" 
           clientIDMode="AutoID">
      
      <controls>
        <add assembly="HLv1.0.MVC.Core" namespace="HL.Core.MVC" tagPrefix="HL"/>
      </controls>
      
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="HL.Core.Models"/>
        <add namespace="HL.Lib.Global"/>
        <add namespace="HL.Lib.Models"/>
        <add namespace="HL.Lib.Controllers"/>
        <add namespace="HL.Lib.CPControllers"/>
      </namespaces>
      
    </pages>
    
    <customErrors mode="Off"></customErrors>
    <compilation batch="false" debug="true" targetFramework="4.0"></compilation>
    <authentication mode="Windows"/>
    
  </system.web>
  
</configuration>
