USE [master]
GO
/****** Object:  Database [dulich]    Script Date: 08/13/2014 18:19:26 ******/
CREATE DATABASE [dulich] ON  PRIMARY 
( NAME = N'TVPLPM_Data', FILENAME = N'D:\Asp.Net\Dulich\MVC\DulichAspNet\DB\demo2012.ttv.vn_Data.MDF' , SIZE = 3008KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'TVPLPM_Log', FILENAME = N'D:\Asp.Net\Dulich\MVC\DulichAspNet\DB\demo2012.ttv.vn_Log.LDF' , SIZE = 1280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dulich].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [dulich]
GO
/****** Object:  Table [dbo].[Sys_Module]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Module](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Layout] [varchar](255) NULL,
	[Type] [varchar](50) NULL,
	[TypeName] [varchar](50) NULL,
	[AssemblyName] [varchar](100) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_T_CONTROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_Module] ON
INSERT [dbo].[Sys_Module] ([ID], [Name], [Code], [Layout], [Type], [TypeName], [AssemblyName], [Order]) VALUES (1, N'MO : Tin tức', N'MNews', N'', N'MODULE', N'HL.Lib.Controllers.MNewsController', N'HLv1.0.MVC.Lib, Version=1.0.0.0, Culture=Neutral,PublicKeyToken=null', 1)
INSERT [dbo].[Sys_Module] ([ID], [Name], [Code], [Layout], [Type], [TypeName], [AssemblyName], [Order]) VALUES (3, N'ĐK : Tin tức', N'CNews', N'Home,SidebarNews', N'CONTROL', N'HL.Lib.Controllers.CNewsController', N'HLv1.0.MVC.Lib, Version=1.0.0.0, Culture=Neutral,PublicKeyToken=null', 5)
INSERT [dbo].[Sys_Module] ([ID], [Name], [Code], [Layout], [Type], [TypeName], [AssemblyName], [Order]) VALUES (4, N'ĐK :  Static', N'CStatic', N'Support,FaceGroup,Footer', N'CONTROL', N'HL.Lib.Controllers.CStaticController', N'HLv1.0.MVC.Lib, Version=1.0.0.0, Culture=Neutral,PublicKeyToken=null', 2)
SET IDENTITY_INSERT [dbo].[Sys_Module] OFF
/****** Object:  Table [dbo].[Sys_Lang]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Lang](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
 CONSTRAINT [PK_T_LANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Lang] ([ID], [Name], [Code]) VALUES (1, N'Việt Nam', N'vi-VN')
INSERT [dbo].[Sys_Lang] ([ID], [Name], [Code]) VALUES (2, N'English', N'en-US')
INSERT [dbo].[Sys_Lang] ([ID], [Name], [Code]) VALUES (3, N'Chinese', N'zh-cn')
/****** Object:  Table [dbo].[Mod_Video]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Video](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[State] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[Code] [varchar](200) NULL,
	[Content] [ntext] NULL,
	[File] [nvarchar](200) NULL,
	[LinkVideo] [nvarchar](500) NULL,
	[Published] [datetime] NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_Mod_Video] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mod_Tour]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Tour](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[State] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[Code] [varchar](200) NULL,
	[Tags] [nvarchar](1000) NULL,
	[Summary] [ntext] NULL,
	[Price] [decimal](18, 0) NULL,
	[SalePrice] [decimal](18, 0) NULL,
	[TimeTotal] [nvarchar](100) NULL,
	[StartDate] [nvarchar](50) NULL,
	[Schedule] [nvarchar](500) NULL,
	[Locations] [nvarchar](300) NULL,
	[Content] [ntext] NULL,
	[ScheduleDetail] [ntext] NULL,
	[File] [nvarchar](200) NULL,
	[Img_Slide] [nvarchar](200) NULL,
	[Map] [nvarchar](1000) NULL,
	[Published] [datetime] NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_Mod_Tour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mod_Tag]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Tag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Code] [varchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[Keywords] [nvarchar](1000) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Mod_Tag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Mod_Tag] ON
INSERT [dbo].[Mod_Tag] ([ID], [Name], [Code], [Title], [Keywords], [Description]) VALUES (3, N'Thiết kế web', N'Thiet-ke-web', NULL, NULL, NULL)
INSERT [dbo].[Mod_Tag] ([ID], [Name], [Code], [Title], [Keywords], [Description]) VALUES (4, N'Công ty thiết kế', N'Cong-ty-thiet-ke', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Mod_Tag] OFF
/****** Object:  Table [dbo].[Mod_Order]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerAddress] [nvarchar](150) NULL,
	[CustomerEmail] [varchar](50) NULL,
	[CusomerPhone] [nvarchar](15) NULL,
	[TourID] [int] NULL,
	[TourName] [nvarchar](300) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Adults] [int] NULL,
	[Children1] [int] NULL,
	[Children2] [int] NULL,
	[Comment] [ntext] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_Mod_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mod_Online]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Online](
	[SessionID] [varchar](50) NULL,
	[TimeValue] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Mod_Online] ([SessionID], [TimeValue]) VALUES (N'54qgbohcbszptgbicbhadz0k', 635435504277143281)
/****** Object:  Table [dbo].[Mod_NewsTag]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mod_NewsTag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NewsID] [int] NULL,
	[TagID] [int] NULL,
 CONSTRAINT [PK_Mod_NewsTag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mod_NewsTag] ON
INSERT [dbo].[Mod_NewsTag] ([ID], [NewsID], [TagID]) VALUES (3, 5646, 2)
INSERT [dbo].[Mod_NewsTag] ([ID], [NewsID], [TagID]) VALUES (4, 5646, 3)
INSERT [dbo].[Mod_NewsTag] ([ID], [NewsID], [TagID]) VALUES (5, 5646, 4)
SET IDENTITY_INSERT [dbo].[Mod_NewsTag] OFF
/****** Object:  Table [dbo].[CP_User]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CP_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_T_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CP_User] ON
INSERT [dbo].[CP_User] ([ID], [LoginName], [Password], [Name], [Address], [Phone], [Email], [Activity]) VALUES (1, N'admin', N'CE-0B-FD-15-05-9B-68-D6-76-88-88-4D-7A-3D-3E-8C', N'TTV', N'Tầng 17, Tháp B, Tòa Nhà Hà Thành Plaza, 102 Thái Thịnh, Đống Đa, TP. Hà Nội', N'0902885886', N'contact@ttv.vn', 1)
SET IDENTITY_INSERT [dbo].[CP_User] OFF
/****** Object:  Table [dbo].[CP_Role]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CP_Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Lock] [bit] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_T_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CP_Role] ON
INSERT [dbo].[CP_Role] ([ID], [Name], [Code], [Lock], [Order]) VALUES (1, N'Administrator', NULL, 1, 1)
INSERT [dbo].[CP_Role] ([ID], [Name], [Code], [Lock], [Order]) VALUES (2, N'Thành viên', NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[CP_Role] OFF
/****** Object:  Table [dbo].[CP_Module]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CP_Module](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Access] [int] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_T_ADMIN_MODULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CP_Module] ON
INSERT [dbo].[CP_Module] ([ID], [Name], [Code], [Access], [Order]) VALUES (1, N'QUẢN TRỊ HỆ THỐNG', N'SysAdministrator', 1, 1)
INSERT [dbo].[CP_Module] ([ID], [Name], [Code], [Access], [Order]) VALUES (8, N'Quản lý  -  File tải lên', N'ModFile', 15, 90)
INSERT [dbo].[CP_Module] ([ID], [Name], [Code], [Access], [Order]) VALUES (56, N'Quản lý  - Quảng cáo/Liên kết', N'ModAdv', 31, 10)
SET IDENTITY_INSERT [dbo].[CP_Module] OFF
/****** Object:  Table [dbo].[Mod_ImagesTour]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mod_ImagesTour](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[File] [nvarchar](200) NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_Mod_ImagesTour] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mod_Feedback]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Title] [nvarchar](100) NULL,
	[Content] [ntext] NULL,
	[IP] [varchar](50) NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_T_FEEDBACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mod_AlbumDetail]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mod_AlbumDetail](
	[ID] [int] NULL,
	[AlbumID] [int] NULL,
	[File] [nvarchar](200) NULL,
	[Activity] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mod_Album]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Album](
	[ID] [int] NULL,
	[MenuID] [int] NULL,
	[State] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[Code] [varchar](200) NULL,
	[Content] [ntext] NULL,
	[File] [nvarchar](200) NULL,
	[Publisher] [datetime] NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Web_Setting]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_Setting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_SETTING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Web_Setting] ON
INSERT [dbo].[Web_Setting] ([ID], [Name], [Code], [Value]) VALUES (1, N'So lan truy cap', N'VISIT', N'23334')
INSERT [dbo].[Web_Setting] ([ID], [Name], [Code], [Value]) VALUES (3, N'Thoi gian Cache', N'TIMECACHE', N'120')
INSERT [dbo].[Web_Setting] ([ID], [Name], [Code], [Value]) VALUES (4, N'GoogleAnalytics.Email', N'GoogleAnalytics.Email', N'mail.ttv.2009@gmail.com')
SET IDENTITY_INSERT [dbo].[Web_Setting] OFF
/****** Object:  Table [dbo].[Web_Resource]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_Resource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LangID] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Value] [ntext] NULL,
 CONSTRAINT [PK_T_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Web_Resource] ON
INSERT [dbo].[Web_Resource] ([ID], [LangID], [Code], [Value]) VALUES (152, 2, N'Web_Footer', N'<strong> <br /> @ Copyright by TNS Holdings.<br />
')
INSERT [dbo].[Web_Resource] ([ID], [LangID], [Code], [Value]) VALUES (153, 2, N'Web_Support', N'<span style="font-size: 20px;">Customer Center</span>
<span style="font-size: 20px; color: #781e19;">+84.437.8686.70</span>')
INSERT [dbo].[Web_Resource] ([ID], [LangID], [Code], [Value]) VALUES (154, 2, N'Web_HOME', N'Home')
SET IDENTITY_INSERT [dbo].[Web_Resource] OFF
/****** Object:  Table [dbo].[Web_Menu]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LangID] [int] NULL,
	[ParentID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Type] [varchar](50) NULL,
	[Custom] [nvarchar](1000) NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_T_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Web_Menu] ON
INSERT [dbo].[Web_Menu] ([ID], [LangID], [ParentID], [Name], [Code], [Type], [Custom], [Order], [Activity]) VALUES (353, 1, 0, N'Danh mục Bài viết', N'Danh-muc-Bai-viet', N'News', NULL, 1, 1)
INSERT [dbo].[Web_Menu] ([ID], [LangID], [ParentID], [Name], [Code], [Type], [Custom], [Order], [Activity]) VALUES (546, 1, 0, N'Danh mục Quảng cáo', N'Danh-muc-Quang-cao', N'Adv', NULL, 2, 1)
INSERT [dbo].[Web_Menu] ([ID], [LangID], [ParentID], [Name], [Code], [Type], [Custom], [Order], [Activity]) VALUES (1209, 1, 0, N'Loại Tour Du lịch', N'Loai-Tour-Du-lich', N'Tour', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[Web_Menu] OFF
/****** Object:  Table [dbo].[Sys_Template]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Template](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LangID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[File] [varchar](50) NULL,
	[Custom] [ntext] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_T_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_Template] ON
INSERT [dbo].[Sys_Template] ([ID], [LangID], [Name], [File], [Custom], [Order]) VALUES (5, 2, N'Trang chủ', N'Default.Master', N'hlMenuTop.PageID=57
hlMenuTop.ViewLayout=Top
hlBackground.MenuID=1208
hlBackground.ViewLayout=Default
hlHome.MenuID=1204
hlHome.ViewLayout=Home', 1)
INSERT [dbo].[Sys_Template] ([ID], [LangID], [Name], [File], [Custom], [Order]) VALUES (6, 2, N'Trang con', N'Level1.Master ', N'Template_Left=CMenu|hlLeftMenu,CAdv|hlLeftAdv
Template_Right=HLMODULE
hlMenuTop.PageID=57
hlMenuTop.ViewLayout=Top
hlBanner.MenuID=1206
hlBanner.ViewLayout=Banner
hlLeftMenu.ViewLayout=Left
hlLeftAdv.MenuID=1205
hlLeftAdv.ViewLayout=Left
', 2)
SET IDENTITY_INSERT [dbo].[Sys_Template] OFF
/****** Object:  Table [dbo].[CP_UserRole]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CP_UserRole](
	[UserID] [int] NULL,
	[RoleID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CP_UserRole] ([UserID], [RoleID]) VALUES (2, 2)
INSERT [dbo].[CP_UserRole] ([UserID], [RoleID]) VALUES (1, 1)
/****** Object:  Table [dbo].[CP_UserLog]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CP_UserLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[IP] [varchar](50) NULL,
	[Note] [nvarchar](100) NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_T_USER_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CP_UserLog] ON
INSERT [dbo].[CP_UserLog] ([ID], [UserID], [IP], [Note], [Created]) VALUES (1384, 1, N'::1', N'Đăng nhập hệ thống.', CAST(0x0000A382002214AA AS DateTime))
INSERT [dbo].[CP_UserLog] ([ID], [UserID], [IP], [Note], [Created]) VALUES (1385, 1, N'::1', N'Đăng nhập hệ thống.', CAST(0x0000A38200D59D73 AS DateTime))
INSERT [dbo].[CP_UserLog] ([ID], [UserID], [IP], [Note], [Created]) VALUES (1386, 1, N'::1', N'Đăng nhập hệ thống.', CAST(0x0000A384017F7E90 AS DateTime))
SET IDENTITY_INSERT [dbo].[CP_UserLog] OFF
/****** Object:  Table [dbo].[CP_Access]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CP_Access](
	[RefID] [int] NULL,
	[RoleID] [int] NULL,
	[UserID] [int] NULL,
	[Type] [varchar](50) NULL,
	[Value] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CP_Access] ([RefID], [RoleID], [UserID], [Type], [Value]) VALUES (1, 1, 0, N'CP.MODULE', 1)
INSERT [dbo].[CP_Access] ([RefID], [RoleID], [UserID], [Type], [Value]) VALUES (8, 1, 0, N'CP.MODULE', 15)
INSERT [dbo].[CP_Access] ([RefID], [RoleID], [UserID], [Type], [Value]) VALUES (56, 1, 0, N'CP.MODULE', 31)
/****** Object:  Table [dbo].[Mod_News]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[State] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Tags] [nvarchar](1000) NULL,
	[Summary] [nvarchar](1000) NULL,
	[Content] [ntext] NULL,
	[Custom] [nvarchar](1000) NULL,
	[File] [nvarchar](100) NULL,
	[Published] [datetime] NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_T_NEWS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Mod_News] ON
SET IDENTITY_INSERT [dbo].[Mod_News] OFF
/****** Object:  Table [dbo].[Sys_Page]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Page](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NULL,
	[ModuleID] [int] NULL,
	[LangID] [int] NULL,
	[MenuID] [int] NULL,
	[ParentID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Custom] [ntext] NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_T_PAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_Page] ON
INSERT [dbo].[Sys_Page] ([ID], [TemplateID], [ModuleID], [LangID], [MenuID], [ParentID], [Name], [Code], [Custom], [Order], [Activity]) VALUES (1, 0, 0, 1, 0, 0, N'Menu Top', N'-', N'', 1, 1)
INSERT [dbo].[Sys_Page] ([ID], [TemplateID], [ModuleID], [LangID], [MenuID], [ParentID], [Name], [Code], [Custom], [Order], [Activity]) VALUES (15, 1, 0, 1, 0, 1, N'Trang chủ', N'Trang-chu', N'', 1, 1)
INSERT [dbo].[Sys_Page] ([ID], [TemplateID], [ModuleID], [LangID], [MenuID], [ParentID], [Name], [Code], [Custom], [Order], [Activity]) VALUES (139, 9, 1, 1, 1219, 1, N'Kinh nghiệm du lịch', N'Kinh-nghiem-du-lich', N'MNews.PageSize=1', 2, 1)
SET IDENTITY_INSERT [dbo].[Sys_Page] OFF
/****** Object:  Table [dbo].[Mod_Adv]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mod_Adv](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[AdvCode] [nvarchar](1000) NULL,
	[File] [nvarchar](100) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[AddInTag] [nvarchar](100) NULL,
	[URL] [nvarchar](100) NULL,
	[Target] [varchar](50) NULL,
	[Order] [int] NULL,
	[Activity] [bit] NULL,
 CONSTRAINT [PK_T_ADV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Mod_Adv] ON
INSERT [dbo].[Mod_Adv] ([ID], [MenuID], [Name], [AdvCode], [File], [Width], [Height], [AddInTag], [URL], [Target], [Order], [Activity]) VALUES (258, 1221, N'Logo', N'', N'~/Data/upload/images/Adv/logo.png', 0, 0, N'', N'/', N'', 1, 1)
SET IDENTITY_INSERT [dbo].[Mod_Adv] OFF
/****** Object:  Table [dbo].[Sys_Site]    Script Date: 08/13/2014 18:19:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Site](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NULL,
	[LangID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Custom] [nvarchar](1000) NULL,
	[Default] [bit] NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_T_APP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sys_Site] ON
INSERT [dbo].[Sys_Site] ([ID], [PageID], [LangID], [Name], [Code], [Custom], [Default], [Order]) VALUES (1, 15, 1, N'VN', N'vn', N'', 1, 3)
INSERT [dbo].[Sys_Site] ([ID], [PageID], [LangID], [Name], [Code], [Custom], [Default], [Order]) VALUES (2, 97, 2, N'EN', N'en', N'', 0, 1)
SET IDENTITY_INSERT [dbo].[Sys_Site] OFF
/****** Object:  ForeignKey [FK_T_RESOURCE_T_LANG]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Web_Resource]  WITH NOCHECK ADD  CONSTRAINT [FK_T_RESOURCE_T_LANG] FOREIGN KEY([LangID])
REFERENCES [dbo].[Sys_Lang] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Web_Resource] NOCHECK CONSTRAINT [FK_T_RESOURCE_T_LANG]
GO
/****** Object:  ForeignKey [FK_T_MENU_T_LANG]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Web_Menu]  WITH NOCHECK ADD  CONSTRAINT [FK_T_MENU_T_LANG] FOREIGN KEY([LangID])
REFERENCES [dbo].[Sys_Lang] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Web_Menu] NOCHECK CONSTRAINT [FK_T_MENU_T_LANG]
GO
/****** Object:  ForeignKey [FK_T_TEMPLATE_T_LANG]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Template]  WITH NOCHECK ADD  CONSTRAINT [FK_T_TEMPLATE_T_LANG] FOREIGN KEY([LangID])
REFERENCES [dbo].[Sys_Lang] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Template] NOCHECK CONSTRAINT [FK_T_TEMPLATE_T_LANG]
GO
/****** Object:  ForeignKey [FK_T_USER_ROLE_T_ROLE]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[CP_UserRole]  WITH NOCHECK ADD  CONSTRAINT [FK_T_USER_ROLE_T_ROLE] FOREIGN KEY([RoleID])
REFERENCES [dbo].[CP_Role] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CP_UserRole] NOCHECK CONSTRAINT [FK_T_USER_ROLE_T_ROLE]
GO
/****** Object:  ForeignKey [FK_T_USER_ROLE_T_USER]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[CP_UserRole]  WITH NOCHECK ADD  CONSTRAINT [FK_T_USER_ROLE_T_USER] FOREIGN KEY([UserID])
REFERENCES [dbo].[CP_User] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CP_UserRole] NOCHECK CONSTRAINT [FK_T_USER_ROLE_T_USER]
GO
/****** Object:  ForeignKey [FK_Sys.CP.UserLog_Sys.CP.User]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[CP_UserLog]  WITH NOCHECK ADD  CONSTRAINT [FK_Sys.CP.UserLog_Sys.CP.User] FOREIGN KEY([UserID])
REFERENCES [dbo].[CP_User] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CP_UserLog] NOCHECK CONSTRAINT [FK_Sys.CP.UserLog_Sys.CP.User]
GO
/****** Object:  ForeignKey [FK_Sys.CP.Access_Sys.CP.User]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[CP_Access]  WITH NOCHECK ADD  CONSTRAINT [FK_Sys.CP.Access_Sys.CP.User] FOREIGN KEY([UserID])
REFERENCES [dbo].[CP_User] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CP_Access] NOCHECK CONSTRAINT [FK_Sys.CP.Access_Sys.CP.User]
GO
/****** Object:  ForeignKey [FK_T_USER_ACCESS_T_ROLE]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[CP_Access]  WITH NOCHECK ADD  CONSTRAINT [FK_T_USER_ACCESS_T_ROLE] FOREIGN KEY([RoleID])
REFERENCES [dbo].[CP_Role] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CP_Access] NOCHECK CONSTRAINT [FK_T_USER_ACCESS_T_ROLE]
GO
/****** Object:  ForeignKey [FK_T_USER_ACCESS_T_USER_MODULE]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[CP_Access]  WITH NOCHECK ADD  CONSTRAINT [FK_T_USER_ACCESS_T_USER_MODULE] FOREIGN KEY([RefID])
REFERENCES [dbo].[CP_Module] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[CP_Access] NOCHECK CONSTRAINT [FK_T_USER_ACCESS_T_USER_MODULE]
GO
/****** Object:  ForeignKey [FK_T_NEWS_T_MENU]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Mod_News]  WITH NOCHECK ADD  CONSTRAINT [FK_T_NEWS_T_MENU] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Web_Menu] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Mod_News] NOCHECK CONSTRAINT [FK_T_NEWS_T_MENU]
GO
/****** Object:  ForeignKey [FK_T_PAGE_T_CONTROL]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Page]  WITH NOCHECK ADD  CONSTRAINT [FK_T_PAGE_T_CONTROL] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Sys_Module] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Page] NOCHECK CONSTRAINT [FK_T_PAGE_T_CONTROL]
GO
/****** Object:  ForeignKey [FK_T_PAGE_T_LANG]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Page]  WITH NOCHECK ADD  CONSTRAINT [FK_T_PAGE_T_LANG] FOREIGN KEY([LangID])
REFERENCES [dbo].[Sys_Lang] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Page] NOCHECK CONSTRAINT [FK_T_PAGE_T_LANG]
GO
/****** Object:  ForeignKey [FK_T_PAGE_T_MENU]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Page]  WITH NOCHECK ADD  CONSTRAINT [FK_T_PAGE_T_MENU] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Web_Menu] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Page] NOCHECK CONSTRAINT [FK_T_PAGE_T_MENU]
GO
/****** Object:  ForeignKey [FK_T_PAGE_T_TEMPLATE]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Page]  WITH NOCHECK ADD  CONSTRAINT [FK_T_PAGE_T_TEMPLATE] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[Sys_Template] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Page] NOCHECK CONSTRAINT [FK_T_PAGE_T_TEMPLATE]
GO
/****** Object:  ForeignKey [FK_T_ADV_T_MENU]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Mod_Adv]  WITH NOCHECK ADD  CONSTRAINT [FK_T_ADV_T_MENU] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Web_Menu] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Mod_Adv] NOCHECK CONSTRAINT [FK_T_ADV_T_MENU]
GO
/****** Object:  ForeignKey [FK_T_APP_T_PAGE]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Site]  WITH NOCHECK ADD  CONSTRAINT [FK_T_APP_T_PAGE] FOREIGN KEY([PageID])
REFERENCES [dbo].[Sys_Page] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Site] NOCHECK CONSTRAINT [FK_T_APP_T_PAGE]
GO
/****** Object:  ForeignKey [FK_T_SITE_T_LANG]    Script Date: 08/13/2014 18:19:28 ******/
ALTER TABLE [dbo].[Sys_Site]  WITH NOCHECK ADD  CONSTRAINT [FK_T_SITE_T_LANG] FOREIGN KEY([LangID])
REFERENCES [dbo].[Sys_Lang] ([ID])
NOT FOR REPLICATION
GO
ALTER TABLE [dbo].[Sys_Site] NOCHECK CONSTRAINT [FK_T_SITE_T_LANG]
GO
